//colors
$color-pink: rgb(252, 185, 207);


//Media Queries

$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 90rem;
$screen-xl: 100rem;

@mixin tablet {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

@mixin desktop-xlarge {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}


body,html{
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color:white;
  font-size: 16px;
}

h1, h2 {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 250
}

.splash {
   background: linear-gradient(to right bottom, rgb(252, 220, 183) 50%, $color-pink 50%);
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-flow: column wrap;
   align-content: center;
   justify-content: space-around;
   text-align: center;
   p {
       font-size: 3rem;
   }
}

.me {
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 50%;
    border: $color-pink 0.34rem solid;
}

.about {
    padding: 5vw;
    background: linear-gradient(0deg, rgba(253,187,45,0.48082983193277307) 0%, rgba(252,185,207,1) 100%);
}

.projects {
    padding: 5vw;
    background: linear-gradient(0deg, rgba(252,246,185,0.6629026610644257) 0%, rgba(253,187,45,0.48082983193277307) 100%);
}

.technologies {
    padding: 5vw;
    background: linear-gradient(0deg, rgba(45,253,46,0.26514355742296913) 0%, rgba(252,246,185,0.6685049019607843) 100%);
}

// .me {
//     width: 30vh;
//     height: 30vh;
//     position: absolute;
//     overflow: hidden;
//     border-radius: 50%;
//     margin: 33vh 23vw;
//     border: lightpink 6px solid;
// }