//colors
$color-green: #00575F;

//Media Queries

$screen-sm: 48rem;
$screen-md: 64rem;
$screen-lg: 90rem;
$screen-xl: 100rem;

@mixin tablet {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

@mixin desktop-xlarge {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}


body,html{
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color:white;
  font-size: 16px;
}

h1, h2 {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-weight: 250
}

a {
  text-decoration: none;
}

.splash {
//    background: linear-gradient(to right bottom, rgb(252, 220, 183) 50%, $color-pink 50%);
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-flow: column wrap;
   align-content: center;
   justify-content: space-around;
   text-align: center;
   background-image: url("https://images.unsplash.com/photo-1505142468610-359e7d316be0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2681&q=80");
   background-size: cover;
}

.splash-text {
    padding: 10vw 5vw 13vw 5vw;
    margin: 0 8vw;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    background-color: rgba(240, 248, 255, 0.575);
}

.fade-in {
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

.fa-angle-down {
    padding: 0 32vw;
}

hr {
    border: inset 1px black;
}

.about {
    padding: 5vw;
    // background: linear-gradient(0deg, rgba(253,187,45,0.48082983193277307) 0%, rgba(252,185,207,1) 100%);
}

.technologies {
    padding: 0 10vw 10vh 10vw;
    font-size: 1.5rem;
    text-align: center;
    p {
        font-size:0.9em;
    }
}

.tech-list {
    display: flex;
    font-size: 2rem;
    flex-flow: column wrap;
    text-align: center;
}

.quote {
    font-size: 0.8em;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 5vw 5vw 2vw 5vw;
    margin: 0 0 5vw 0;
    line-height: 1;
    box-shadow: 4px 4px 20px -8px rgba(0,0,0,0.54);

}

.han {

}

.heartbeat {
	animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  ul {
    list-style-type: none;
  }

  .nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .nav-items {
    background-color:$color-green;
    display: flex;
    flex-direction: row;
    margin: 0; 
    padding: 0;
    justify-content: space-evenly;
  }

  .nav-item {
    height: 6vh;
    width: 26vw;
    padding: 3vh 2vh 1vh 2vh;
    font-size: 1.2rem;
    text-align: center;
    color: white;
  }

  .footer {
    background-color: #4F6A7A;
    color: white;
    text-align: center;
    height: 10vh;
    padding: 0.8vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .fa-linkedin-in, .github-foot, .fa-envelope-square {
    padding: 0 2vw;
    color: white;
  }

  .contact, .download {
    width: 88vw;
    height: 8vh;
    margin: 7vh 0vw 2vh 0;
    background-color: rgba(0, 87, 95, 0.486);
    border-radius: 25px;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 7px 0 0 0;
  }

  .download {
    margin: 0;
  }

  .email {
    color: lightgrey;
    padding: 0 20vw;
  }



  .projects {
    padding: 5vw;
  }

  .card {
    /* Add shadows to create the "card" effect */
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .project-img {
    width: 90vw;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


// .me {
//     width: 11rem;
//     height: 11rem;
//     overflow: hidden;
//     border-radius: 50%;
//     border: $color-pink 0.34rem solid;
// }
