body, html {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color: white;
  font-size: 16px; }

h1, h2 {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 250; }

.splash {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1505142468610-359e7d316be0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2681&q=80");
  background-size: cover; }

.splash-text {
  padding: 10vw 5vw 13vw 5vw;
  margin: 0 8vw;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  background-color: rgba(240, 248, 255, 0.575); }

.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fa-angle-down {
  padding: 0 32vw; }

hr {
  border: inset 1px black; }

.about {
  padding: 5vw; }

.projects {
  padding: 5vw; }

.technologies {
  padding: 10vw;
  font-size: 1.5rem;
  text-align: center; }
  .technologies p {
    font-size: 0.9em; }

.tech-list {
  display: flex;
  font-size: 2rem;
  flex-flow: column wrap;
  text-align: center; }

.quote {
  font-size: 0.8em;
  background-color: rgba(128, 128, 128, 0.178);
  padding: 5vw 5vw 2vw 5vw;
  margin: 0 0 5vw 0;
  line-height: 1; }

.heartbeat {
  animation: heartbeat 3s ease-in-out infinite both; }

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

ul {
  list-style-type: none; }

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.nav-items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-evenly; }

.nav-item {
  height: 6vh;
  width: 26vw;
  padding: 3vh 2vh 1vh 2vh;
  font-size: 1.2rem;
  text-align: center;
  background-color: #00575F;
  color: white; }
